.Button {
    background-color: #8757df;
    border: 1px solid transparent;
    padding: 5px 7px;
    border-radius: 5px;
    color: white;
    transition: background-color 0.4s;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
        background-color: #6334bb;
    }
}

