.sidebar {
    height: 750px;
    grid-area: sidebar;
    background-color:#8757df;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 18px;
    
    & .sideMenu {
        margin-top: 50px;
        margin-left: 15%;
        color: #bba0ed;
        
        & .sideLinks {
         margin-top: 50px;
        
        & > div {
            margin-top: 25px;
        }
        
        & a {
            transition: color 0.4s;
            margin-left: 10%;
        }

        & div:nth-last-child(1) {
            margin-top: 80px;
        }
    
        & span:hover {
            color: white;
        }
     }
  }
}

.activeLink {
    color: goldenrod;
}

