.gridMessages {
    display: grid;
    height: 750px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 5fr;
    grid-gap: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Flama', sans-serif;

    & h3 {
        text-align: center;
        color: #cfb9f7;
        font-size: 1.5rem;
        line-height: 5px;
    }
}

.chat {
    height: 600px;
    background: #f2f2fb;
    display: grid;
    grid-template: 50px 5fr 1fr/ 1fr;
    border-radius: 5px;

    & .chatTitle {
        background: #8757df;
        border: 1px solid transparent;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    & .chatInput {
        background: #8757df;
        border: 1px solid transparent;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}