.gridMessages {
    display: grid;
    height: 750px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 5fr;
    grid-gap: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Flama', sans-serif;

    & h3 {
        text-align: center;
        color: #cfb9f7;
        font-size: 1.5rem;
        line-height: 5px;
    }
}

.chat {
    height: 600px;
    background: #f2f2fb;
    display: grid;
    grid-template: 50px 6fr 1fr/ 1fr;
    border-radius: 5px;

    & .chatTitle {
        background: #8757df;
        border: 1px solid transparent;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    & .chatList {
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
         gap: 20px;
         padding: 10px;
         height: 900px;
         overflow: auto;

        & > div {
            display: flex;
            height: auto;
            width: 100%;

            & > div {
                padding: 10px 20px;
                border-radius: 10px;
            }
        }
         
        .myMsg > div {
            margin-right: 0.5rem;
            margin-left: auto;
            background: #8757df;
            color:#e5e9f1;
        }

         .compaionMsg > div {
            margin-left: 0.5rem;
            margin-right: auto;
            background: white;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    }

    & .chatInput {
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        padding: 20px;
        gap: 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        
        & > div {
            flex: 1;
            height: 40px;
            display: flex;
            background-color: white;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            
            & textarea {
                margin-left: 10px;
                font-size: 1.3rem;
                width: 90%;
                align-self: center;
                resize: none;

                &::placeholder {  
                    padding-left: 15px;
                } 
            }
        }
    }
}