.postAdd {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    
    & textarea {
        width: 80%;
        height: 100px;
        border: none;
        resize: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Flama', sans-serif;
        font-size: 1.1rem;
        
        &::placeholder {  
            padding: 40px;
        } 

        &:focus {
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    }

    & > div {
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5rem;
        background: #f2f2fb;

        & > div {
            display: flex;
            justify-content: space-between;
            color: #8757df;

            & i:hover {
                color: #6334bb;
            }
        }
    }
}

.buttonsLine {
    display: flex;
    margin: 15px 0;
    align-items: center;
    gap: 20px;
    
    & i {
        color: #8757df;
    }
}

.postsFeed {
    overflow: auto;
    height: 450px;
}

