.app-wrapper {
  height: 100%;
  padding: 120px 0;
}

.grid-container {
  height: 695px;
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 7fr; 
  grid-template-columns: 2.5fr 8.5fr;
  grid-template-areas: 
        'sidebar header'
        'sidebar main';
}

header .fas {
  text-align: center;
  color:#8757df;
  margin: 0 10px;

  &:hover {
    color: #6334bb;
  }
}
