.grid-container {
  height: 750px;
  margin: 0 auto;
  width: 75%;
  display: grid;
  grid-template-rows: 1fr 7fr; 
  grid-template-columns: 2.5fr 8.5fr;
  grid-template-areas: 
        'sidebar header'
        'sidebar main';
}

header .fas {
  text-align: center;
  color:#8757df;
  margin: 0 10px;

  &:hover {
    color: #6334bb;
  }
}

.main {
  max-height: 660px;
  grid-area: main;
  padding: 0 50px;
  background-color: #f2f2fb;
  border: 1px transparent;
  border-bottom-right-radius: 25px;
}
