body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Flama', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left bottom, #c2a0ff, #d7c2ff)
}

@font-face {
  font-family: 'Flama';
  font-style: normal;
  font-weight: normal;
  src: local('Flama'), url('./fonts/Flama\ Regular.woff') format('woff');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.far, .fas {
  transition: color 0.4s;
  width: 15px;
  cursor: pointer;
}

input:focus, textarea:focus {
  outline: none;
}

textarea::placeholder {  
  padding: 40px;
} 






